@charset "UTF-8";
@import url(./reset.css);
/*  up => 1             down => 3
    left => 2           right => 4
    left up => 5        right up => 6
    left down => 7      right down => 8    */
#char {
  width: 140px;
  height: 200px;
  background: url(../img/character.png) 0 -200px no-repeat;
  z-index: 10;
  position: absolute;
  left: 570px;
  top: 700px;
  z-index: 700; }
  #char._1 {
    animation: backAni 1000ms 0s infinite step-start; }

@keyframes backAni {
  0% {
    background-position: 0 0; }
  25% {
    background-position: -140px 0; }
  50% {
    background-position: 0 0; }
  75% {
    background-position: -280px 0; }
  100% {
    background-position: 0 0; } }
  #char._2 {
    animation: leftAni 1000ms 0s infinite step-start; }

@keyframes leftAni {
  0% {
    background-position: 0 -600px; }
  25% {
    background-position: -140px -600px; }
  50% {
    background-position: 0 -600px; }
  75% {
    background-position: -280px -600px; }
  100% {
    background-position: 0 -600px; } }
  #char._3 {
    animation: frontAni 1000ms 0s infinite step-start; }

@keyframes frontAni {
  0% {
    background-position: 0 -200px; }
  25% {
    background-position: -140px -200px; }
  50% {
    background-position: 0 -200px; }
  75% {
    background-position: -280px -200px; }
  100% {
    background-position: 0 -200px; } }
  #char._4 {
    animation: rightAni 1000ms 0s infinite step-start; }

@keyframes rightAni {
  0% {
    background-position: 0 -400px; }
  25% {
    background-position: -140px -400px; }
  50% {
    background-position: 0 -400px; }
  75% {
    background-position: -280px -400px; }
  100% {
    background-position: 0 -400px; } }
  #char._5 {
    animation: leftAni 1000ms 0s infinite step-start; }

@keyframes leftAni {
  0% {
    background-position: 0 -600px; }
  25% {
    background-position: -140px -600px; }
  50% {
    background-position: 0 -600px; }
  75% {
    background-position: -280px -600px; }
  100% {
    background-position: 0 -600px; } }
  #char._6 {
    animation: rightAni 1000ms 0s infinite step-start; }

@keyframes rightAni {
  0% {
    background-position: 0 -400px; }
  25% {
    background-position: -140px -400px; }
  50% {
    background-position: 0 -400px; }
  75% {
    background-position: -280px -400px; }
  100% {
    background-position: 0 -400px; } }
  #char._7 {
    animation: leftAni 1000ms 0s infinite step-start; }

@keyframes leftAni {
  0% {
    background-position: 0 -600px; }
  25% {
    background-position: -140px -600px; }
  50% {
    background-position: 0 -600px; }
  75% {
    background-position: -280px -600px; }
  100% {
    background-position: 0 -600px; } }
  #char._8 {
    animation: rightAni 1000ms 0s infinite step-start; }

@keyframes rightAni {
  0% {
    background-position: 0 -400px; }
  25% {
    background-position: -140px -400px; }
  50% {
    background-position: 0 -400px; }
  75% {
    background-position: -280px -400px; }
  100% {
    background-position: 0 -400px; } }
  #char.__1 {
    background-position: 0 0; }
  #char.__2 {
    background-position: 0 -600px; }
  #char.__3 {
    background-position: 0 -200px; }
  #char.__4 {
    background-position: 0 -400px; }
  #char.__5 {
    background-position: 0 -600px; }
  #char.__6 {
    background-position: 0 -400px; }
  #char.__7 {
    background-position: 0 -600px; }
  #char.__8 {
    background-position: 0 -400px; }

#goose {
  position: absolute;
  left: 1100px;
  top: 700px;
  width: 150px;
  height: 150px;
  background: url(../img/goose.png) 0 0 no-repeat;
  z-index: 9000; }

@keyframes goosefrontAni {
  0% {
    background-position: 0 -0px; }
  25% {
    background-position: -150px -0px; }
  50% {
    background-position: 0 -0px; }
  75% {
    background-position: -300px -0px; }
  100% {
    background-position: 0 -0px; } }

@keyframes flyBackAni {
  0% {
    background-position: 0 -600px; }
  50% {
    background-position: -200px -600px; }
  100% {
    background-position: 0 -600px; } }

#goose.front, .goose.front {
  animation: goosefrontAni 1s infinite step-start; }

#goose._front, .goose._front {
  background-position: 0 -0px; }

#goose.fly.back, .goose.fly.back {
  width: 200px;
  animation: flyBackAni 500ms infinite step-start;
  z-index: 6000 !important; }

@keyframes goosebackAni {
  0% {
    background-position: 0 -150px; }
  25% {
    background-position: -150px -150px; }
  50% {
    background-position: 0 -150px; }
  75% {
    background-position: -300px -150px; }
  100% {
    background-position: 0 -150px; } }

@keyframes flyBackAni {
  0% {
    background-position: 0 -600px; }
  50% {
    background-position: -200px -600px; }
  100% {
    background-position: 0 -600px; } }

#goose.back, .goose.back {
  animation: goosebackAni 1s infinite step-start; }

#goose._back, .goose._back {
  background-position: 0 -150px; }

#goose.fly.back, .goose.fly.back {
  width: 200px;
  animation: flyBackAni 500ms infinite step-start;
  z-index: 6000 !important; }

@keyframes gooseleftAni {
  0% {
    background-position: 0 -300px; }
  25% {
    background-position: -150px -300px; }
  50% {
    background-position: 0 -300px; }
  75% {
    background-position: -300px -300px; }
  100% {
    background-position: 0 -300px; } }

@keyframes flyBackAni {
  0% {
    background-position: 0 -600px; }
  50% {
    background-position: -200px -600px; }
  100% {
    background-position: 0 -600px; } }

#goose.left, .goose.left {
  animation: gooseleftAni 1s infinite step-start; }

#goose._left, .goose._left {
  background-position: 0 -300px; }

#goose.fly.back, .goose.fly.back {
  width: 200px;
  animation: flyBackAni 500ms infinite step-start;
  z-index: 6000 !important; }

@keyframes gooserightAni {
  0% {
    background-position: 0 -450px; }
  25% {
    background-position: -150px -450px; }
  50% {
    background-position: 0 -450px; }
  75% {
    background-position: -300px -450px; }
  100% {
    background-position: 0 -450px; } }

@keyframes flyBackAni {
  0% {
    background-position: 0 -600px; }
  50% {
    background-position: -200px -600px; }
  100% {
    background-position: 0 -600px; } }

#goose.right, .goose.right {
  animation: gooserightAni 1s infinite step-start; }

#goose._right, .goose._right {
  background-position: 0 -450px; }

#goose.fly.back, .goose.fly.back {
  width: 200px;
  animation: flyBackAni 500ms infinite step-start;
  z-index: 6000 !important; }

#object {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  #object img {
    width: 100%;
    height: auto; }
  #object .home {
    position: absolute;
    left: 250px;
    top: -100px;
    width: 800px;
    height: 900px;
    z-index: 300;
    background: url(../img/houseF.png) 50% 50%/cover no-repeat; }
    #object .home .flower {
      background: url(../img/Flower.png) 50% 50%/cover no-repeat;
      transform-origin: center bottom; }

@keyframes flower1Ani {
  from {
    transform: rotateZ(-3deg); }
  to {
    transform: rotateZ(3deg); } }

@keyframes flower2Ani {
  from {
    transform: rotateZ(3deg); }
  to {
    transform: rotateZ(-3deg); } }

@keyframes flower3Ani {
  from {
    transform: rotateZ(-3deg); }
  to {
    transform: rotateZ(3deg); } }

@keyframes flower4Ani {
  from {
    transform: rotateZ(3deg); }
  to {
    transform: rotateZ(-3deg); } }
      #object .home .flower:nth-child(1) {
        position: absolute;
        left: 150px;
        top: 721px;
        width: 120px;
        height: 137px;
        animation: flower1Ani 3s 0.72615s infinite alternate; }
      #object .home .flower:nth-child(2) {
        position: absolute;
        left: 80px;
        top: 722px;
        width: 120px;
        height: 137px;
        animation: flower2Ani 3s 0.61521s infinite alternate; }
      #object .home .flower:nth-child(3) {
        position: absolute;
        left: 610px;
        top: 718px;
        width: 120px;
        height: 137px;
        animation: flower3Ani 3s 0.28009s infinite alternate; }
      #object .home .flower:nth-child(4) {
        position: absolute;
        left: 540px;
        top: 717px;
        width: 120px;
        height: 137px;
        animation: flower4Ani 3s 0.41024s infinite alternate; }
  #object .crops {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    #object .crops .carrot {
      position: absolute;
      left: 0;
      top: 2080px;
      width: 1000px;
      height: 600px; }
      #object .crops .carrot li:nth-child(1) {
        background: url(../img/crops.png) 20px 0 repeat-x;
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        height: 150px;
        z-index: 2080;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .carrot li:nth-child(2) {
        background: url(../img/crops.png) 20px 0 repeat-x;
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        height: 150px;
        z-index: 2230;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .carrot li:nth-child(3) {
        background: url(../img/crops.png) 20px 0 repeat-x;
        position: absolute;
        left: 0;
        top: 300px;
        width: 100%;
        height: 150px;
        z-index: 2380;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .carrot li:nth-child(4) {
        background: url(../img/crops.png) 20px 0 repeat-x;
        position: absolute;
        left: 0;
        top: 450px;
        width: 100%;
        height: 150px;
        z-index: 2530;
        animation: cropsAni 5s step-start infinite; }

@keyframes cropsAni {
  0% {
    background-position-x: 20px; }
  25% {
    background-position-x: -105px; }
  50% {
    background-position-x: 20px; }
  75% {
    background-position-x: -230px; }
  100% {
    background-position-x: 20px; } }
    #object .crops .corn {
      position: absolute;
      left: 0;
      top: 2910px;
      width: 1000px;
      height: 600px; }
      #object .crops .corn li:nth-child(1) {
        background: url(../img/crops.png) 20px -150px repeat-x;
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        height: 150px;
        z-index: 2910;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .corn li:nth-child(2) {
        background: url(../img/crops.png) 20px -150px repeat-x;
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        height: 150px;
        z-index: 3060;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .corn li:nth-child(3) {
        background: url(../img/crops.png) 20px -150px repeat-x;
        position: absolute;
        left: 0;
        top: 300px;
        width: 100%;
        height: 150px;
        z-index: 3210;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .corn li:nth-child(4) {
        background: url(../img/crops.png) 20px -150px repeat-x;
        position: absolute;
        left: 0;
        top: 450px;
        width: 100%;
        height: 150px;
        z-index: 3360;
        animation: cropsAni 5s step-start infinite; }
    #object .crops .tomato {
      position: absolute;
      left: 0;
      top: 3760px;
      width: 1000px;
      height: 600px; }
      #object .crops .tomato li:nth-child(1) {
        background: url(../img/crops.png) 20px -300px repeat-x;
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        height: 150px;
        z-index: 3760;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .tomato li:nth-child(2) {
        background: url(../img/crops.png) 20px -300px repeat-x;
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        height: 150px;
        z-index: 3910;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .tomato li:nth-child(3) {
        background: url(../img/crops.png) 20px -300px repeat-x;
        position: absolute;
        left: 0;
        top: 300px;
        width: 100%;
        height: 150px;
        z-index: 4060;
        animation: cropsAni 5s step-start infinite; }
      #object .crops .tomato li:nth-child(4) {
        background: url(../img/crops.png) 20px -300px repeat-x;
        position: absolute;
        left: 0;
        top: 450px;
        width: 100%;
        height: 150px;
        z-index: 4210;
        animation: cropsAni 5s step-start infinite; }
  #object .animals {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    #object .animals .cage {
      position: relative;
      width: 100%;
      height: 100%; }
      #object .animals .cage .row1 {
        position: absolute;
        left: 50%;
        top: 0;
        width: calc(100% - 100px);
        height: 150px;
        transform: translate(-50%, 0);
        background: url(../img/fence_front2.png) 0 0/auto 150px repeat-x;
        z-index: 10; }
      #object .animals .cage .row2 {
        position: absolute;
        left: 50%;
        top: 0;
        width: calc(100% - 100px);
        height: 150px;
        transform: translate(-50%, 0);
        top: unset;
        bottom: 0;
        background: url(../img/fence_front2.png) 0 0/auto 150px repeat-x;
        z-index: 12; }
      #object .animals .cage .col1 {
        position: absolute;
        left: 30px;
        top: 50%;
        width: 40px;
        height: 100%;
        transform: translate(0, -50%);
        background: url(../img/fence_side2.png) 0 35px no-repeat;
        z-index: 11; }
      #object .animals .cage .col2 {
        position: absolute;
        left: 0;
        top: 50%;
        width: 40px;
        height: 100%;
        transform: translate(0, -50%);
        left: unset;
        right: 30px;
        background: url(../img/fence_side2.png) 0 35px no-repeat;
        z-index: 11; }
    #object .animals .geeseCage {
      position: absolute;
      left: 1200px;
      top: 0;
      width: 1200px;
      height: 700px; }
      #object .animals .geeseCage .cage .row1 {
        z-index: 10; }
      #object .animals .geeseCage .cage .row2 {
        z-index: 560; }
      #object .animals .geeseCage .cage .col1 {
        z-index: 11; }
      #object .animals .geeseCage .cage .col2 {
        z-index: 11; }
    #object .animals .pigsCage {
      position: absolute;
      left: 5200px;
      top: 2800px;
      width: 800px;
      height: 700px; }
      #object .animals .pigsCage .cage .row1 {
        z-index: 2800; }
      #object .animals .pigsCage .cage .row2 {
        z-index: 3350; }
      #object .animals .pigsCage .cage .col1 {
        z-index: 2801; }
      #object .animals .pigsCage .cage .col2 {
        z-index: 2801; }
    #object .animals .cowCage {
      position: absolute;
      left: 5200px;
      top: 2000px;
      width: 800px;
      height: 700px; }
      #object .animals .cowCage .cage .row1 {
        z-index: 2000; }
      #object .animals .cowCage .cage .row2 {
        z-index: 2550; }
      #object .animals .cowCage .cage .col1 {
        z-index: 2001; }
      #object .animals .cowCage .cage .col2 {
        z-index: 2001; }
    #object .animals .sheepCage {
      position: absolute;
      left: 5200px;
      top: 1200px;
      width: 800px;
      height: 700px; }
      #object .animals .sheepCage .cage .row1 {
        z-index: 1200; }
      #object .animals .sheepCage .cage .row2 {
        z-index: 1750; }
      #object .animals .sheepCage .cage .col1 {
        z-index: 1201; }
      #object .animals .sheepCage .cage .col2 {
        z-index: 1201; }
  #object .trees {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    #object .trees .tree {
      position: absolute;
      left: 0;
      top: 0;
      width: 350px;
      height: 480px;
      background: url(../img/tree.png) 0 0/350px 480px no-repeat; }
      #object .trees .tree:nth-child(1) {
        left: -15px;
        top: 210px;
        z-index: 510; }
      #object .trees .tree:nth-child(2) {
        left: 190px;
        top: 828px;
        z-index: 1128; }
      #object .trees .tree:nth-child(3) {
        left: 1690px;
        top: 843px;
        z-index: 1143; }
      #object .trees .tree:nth-child(4) {
        left: 2015px;
        top: 623px;
        z-index: 923; }
      #object .trees .tree:nth-child(5) {
        left: 274px;
        top: 4341px;
        z-index: 4641; }
      #object .trees .tree:nth-child(6) {
        left: 1570px;
        top: 2364px;
        z-index: 2664; }
      #object .trees .tree:nth-child(7) {
        left: 1865px;
        top: 2794px;
        z-index: 3094; }
      #object .trees .tree:nth-child(8) {
        left: 1570px;
        top: 3660px;
        z-index: 3960; }
      #object .trees .tree:nth-child(9) {
        left: 2525px;
        top: 3500px;
        z-index: 3800; }
      #object .trees .tree:nth-child(10) {
        left: 3529px;
        top: 3757px;
        z-index: 4057; }
      #object .trees .tree:nth-child(11) {
        left: 4242px;
        top: 3931px;
        z-index: 4231; }
      #object .trees .tree:nth-child(12) {
        left: 3567px;
        top: -15px;
        z-index: 285; }
      #object .trees .tree:nth-child(13) {
        left: 3221px;
        top: 143px;
        z-index: 443; }
      #object .trees .tree:nth-child(14) {
        left: 3571px;
        top: 383px;
        z-index: 683; }
      #object .trees .tree:nth-child(15) {
        left: 3282px;
        top: 536px;
        z-index: 836; }
      #object .trees .tree:nth-child(16) {
        left: 3549px;
        top: 835px;
        z-index: 1135; }
      #object .trees .tree:nth-child(17) {
        left: 3167px;
        top: 946px;
        z-index: 1246; }
      #object .trees .tree:nth-child(18) {
        left: 4273px;
        top: 988px;
        z-index: 1288; }
      #object .trees .tree:nth-child(19) {
        left: 3904px;
        top: 1043px;
        z-index: 1343; }
      #object .trees .tree:nth-child(20) {
        left: 2060px;
        top: 1576px;
        z-index: 1876; }
      #object .trees .tree:nth-child(21) {
        left: 2365px;
        top: 1840px;
        z-index: 2140; }
      #object .trees .tree:nth-child(22) {
        left: 2615px;
        top: 1576px;
        z-index: 1876; }
      #object .trees .tree:nth-child(23) {
        left: 2727px;
        top: 1976px;
        z-index: 2276; }
      #object .trees .tree:nth-child(24) {
        left: 2969px;
        top: 1556px;
        z-index: 1856; }
      #object .trees .tree:nth-child(25) {
        left: 3464px;
        top: 1216px;
        z-index: 1516; }
      #object .trees .tree:nth-child(26) {
        left: 4579px;
        top: 1220px;
        z-index: 1520; }
      #object .trees .tree:nth-child(27) {
        left: 3255px;
        top: 1496px;
        z-index: 1796; }
      #object .trees .tree:nth-child(28) {
        left: 3082px;
        top: 2006px;
        z-index: 2306; }
      #object .trees .tree:nth-child(29) {
        left: 3392px;
        top: 1910px;
        z-index: 2210; }
      #object .trees .tree:nth-child(30) {
        left: 3797px;
        top: 1336px;
        z-index: 1636; }
      #object .trees .tree:nth-child(31) {
        left: 4188px;
        top: 1496px;
        z-index: 1796; }
      #object .trees .tree:nth-child(32) {
        left: 4458px;
        top: 1620px;
        z-index: 1920; }
      #object .trees .tree:nth-child(33) {
        left: 3617px;
        top: 1686px;
        z-index: 1986; }
      #object .trees .tree:nth-child(34) {
        left: 3935px;
        top: 1750px;
        z-index: 2050; }
      #object .trees .tree:nth-child(35) {
        left: 4279px;
        top: 2000px;
        z-index: 2300; }
      #object .trees .tree:nth-child(36) {
        left: 3879px;
        top: 2116px;
        z-index: 2416; }
      #object .trees .tree:nth-child(37) {
        left: 3639px;
        top: 2260px;
        z-index: 2560; }
      #object .trees .tree:nth-child(38) {
        left: 4543px;
        top: 2166px;
        z-index: 2466; }
      #object .trees .tree:nth-child(39) {
        left: 3969px;
        top: 2457px;
        z-index: 2757; }
      #object .trees .tree:nth-child(40) {
        left: 4327px;
        top: 2481px;
        z-index: 2781; }
      #object .trees .tree:nth-child(41) {
        left: 3729px;
        top: 2740px;
        z-index: 3040; }
      #object .trees .tree:nth-child(42) {
        left: 4144px;
        top: 2860px;
        z-index: 3160; }
      #object .trees .tree:nth-child(43) {
        left: 4494px;
        top: 2844px;
        z-index: 3144; }
      #object .trees .tree li {
        position: absolute;
        left: 0;
        top: 0;
        width: 84px;
        height: 84px; }
        #object .trees .tree li:nth-child(1) {
          left: 130px;
          top: 20px; }
        #object .trees .tree li:nth-child(2) {
          left: 50px;
          top: 120px; }
        #object .trees .tree li:nth-child(3) {
          left: 200px;
          top: 140px; }
      #object .trees .tree.apple > li {
        background: url(../img/fruit.png) 50% 0/84px auto no-repeat; }
      #object .trees .tree.blueberry > li {
        background: url(../img/fruit.png) 50% -84px/84px auto no-repeat; }
      #object .trees .tree.lemon > li {
        background: url(../img/fruit.png) 50% -168px/84px auto no-repeat; }
      #object .trees .tree.orange > li {
        background: url(../img/fruit.png) 50% -252px/84px auto no-repeat; }
      #object .trees .tree.peach > li {
        background: url(../img/fruit.png) 50% -336px/84px auto no-repeat; }
  #object .bridges {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    #object .bridges .lake {
      position: absolute;
      left: 2260px;
      top: 4150px;
      width: 1401px;
      height: 844px; }
      #object .bridges .lake .bridge {
        position: absolute;
        left: 0;
        top: 0;
        width: 1401px;
        height: 844px;
        background: url(../img/bridge.png) 0 0 no-repeat;
        z-index: 1000; }
      #object .bridges .lake .railing {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 1401px;
        height: 844px;
        background: url(../img/bridge_railing.png) 0 0 no-repeat; }
        #object .bridges .lake .railing:nth-of-type(2) {
          top: -320px;
          z-index: 4360;
          background: url(../img/bridge_railing2.png) 0 0 no-repeat; }
        #object .bridges .lake .railing:nth-of-type(3) {
          top: -320px;
          z-index: 4000; }
        #object .bridges .lake .railing:nth-of-type(4) {
          top: -40px;
          z-index: 5000; }
    #object .bridges .river {
      position: absolute;
      left: 1130px;
      top: 1300px;
      width: 376px;
      height: 610px;
      background: url(../img/bridge_r.png); }
      #object .bridges .river.r1 {
        z-index: 1300; }
      #object .bridges .river.r2 {
        left: 4870px;
        top: 3450px;
        z-index: 3450; }
  #object .eggs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    #object .eggs .goldenEgg {
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 66px;
      display: block;
      outline: none;
      border: none;
      background: url(../img/egg.png) 50% 50%/48px 66px;
      cursor: pointer;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; }
      #object .eggs .goldenEgg.disapear {
        animation: disapear 1500ms 0s 1 forwards; }

@keyframes disapear {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 211, 50, 0), 0 0 0 0 inset rgba(73, 62, 19, 0);
    transform: scale(1); }
  60% {
    box-shadow: 0 0 30px 10px rgba(255, 211, 50, 0.76), 0 0 30px 10px inset rgba(255, 211, 50, 0.5);
    transform: scale(1); }
  90% {
    box-shadow: 0 0 30px 3px rgba(255, 211, 50, 0.76), 0 0 30px 10px inset rgba(255, 211, 50, 0.5);
    transform: scale(1); }
  100% {
    box-shadow: 0 0 30px 3px rgba(255, 211, 50, 0.76), 0 0 30px 10px inset rgba(255, 211, 50, 0.5);
    transform: scale(0); } }

#controller .eggPlate {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px; }
  #controller .eggPlate li {
    position: relative;
    width: 72px;
    height: 99px; }
    #controller .eggPlate li:not(:first-child) .goldenEgg {
      line-height: 40px; }
    #controller .eggPlate li .goldenEgg {
      animation: eggAni 500ms 0s 1 forwards;
      position: absolute;
      left: 0;
      top: 0;
      width: 72px;
      height: 59px;
      display: block;
      outline: none;
      border: none;
      background: url(../img/egg.png) 50% 0 no-repeat;
      cursor: pointer;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      text-align: center;
      padding-top: 40px;
      font-weight: bold;
      transition: box-shadow 300ms; }
      #controller .eggPlate li .goldenEgg:hover {
        text-decoration: none;
        box-shadow: 0 0 30px 10px rgba(255, 211, 50, 0.76), 0 0 30px 10px inset rgba(255, 211, 50, 0.5); }

@keyframes eggAni {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

#load {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: z-index 0s 3s;
  background: #ffff; }
  #load .cloud {
    max-width: unset;
    max-height: 150%;
    display: block;
    position: absolute;
    transition: all 3s linear, opacity 2s 500ms linear; }
    #load .cloud.c1 {
      left: -23%;
      top: -23%; }
    #load .cloud.c2 {
      left: 23%;
      top: -23%; }
    #load .cloud.c3 {
      left: -23%;
      top: 23%; }
    #load .cloud.c4 {
      left: 23%;
      top: 23%; }
  #load span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -17.5px 0 0 -50px;
    width: 100px;
    height: 70px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #707070;
    transition: opacity 1s 500ms linear; }
    #load span svg {
      width: 32px;
      height: 32px; }
      #load span svg circle {
        stroke-dasharray: 35 55;
        stroke-dashoffset: 0;
        animation: circleAni 1500ms linear infinite; }

@keyframes circleAni {
  0% {
    stroke-dashoffset: 90; }
  100% {
    stroke-dashoffset: 0; } }
    #load span.on {
      opacity: 0; }
  #load section {
    opacity: 0;
    transition: opacity 1s linear; }
    #load section h1 {
      width: 80%;
      height: 50%;
      margin: 0 auto; }
      #load section h1 svg {
        padding-top: 10%;
        width: 100%; }

@keyframes h1svg1 {
  from {
    stroke-dasharray: 1168;
    stroke-dashoffset: 1168; }
  to {
    stroke-dasharray: 1168;
    stroke-dashoffset: 0; } }

@keyframes h1svg2 {
  from {
    stroke-dasharray: 68;
    stroke-dashoffset: 68; }
  to {
    stroke-dasharray: 68;
    stroke-dashoffset: 0; } }

@keyframes h1svg3 {
  from {
    stroke-dasharray: 127;
    stroke-dashoffset: 127; }
  to {
    stroke-dasharray: 127;
    stroke-dashoffset: 0; } }

@keyframes h1svg4 {
  from {
    stroke-dasharray: 634;
    stroke-dashoffset: 634; }
  to {
    stroke-dasharray: 634;
    stroke-dashoffset: 0; } }

@keyframes h1svg5 {
  from {
    stroke-dasharray: 1973;
    stroke-dashoffset: 1973; }
  to {
    stroke-dasharray: 1973;
    stroke-dashoffset: 0; } }

@keyframes h1svg6 {
  from {
    stroke-dasharray: 36;
    stroke-dashoffset: 36; }
  to {
    stroke-dasharray: 36;
    stroke-dashoffset: 0; } }
    #load section.on {
      opacity: 1;
      display: block;
      position: absolute;
      left: 10vw;
      top: 10vh;
      z-index: 1;
      width: 80vw;
      height: 80vh;
      background: #fffe;
      box-shadow: 0 0 30px 30px #fffe; }
      #load section.on h1 svg g:nth-of-type(1) {
        animation: h1svg1 linear 800ms 500ms forwards;
        stroke-dasharray: 1168;
        stroke-dashoffset: 1168; }
      #load section.on h1 svg g:nth-of-type(2) {
        animation: h1svg2 linear 50ms 1300ms forwards;
        stroke-dasharray: 68;
        stroke-dashoffset: 68; }
      #load section.on h1 svg g:nth-of-type(3) {
        animation: h1svg3 linear 100ms 1350ms forwards;
        stroke-dasharray: 127;
        stroke-dashoffset: 127; }
      #load section.on h1 svg g:nth-of-type(4) {
        animation: h1svg4 linear 500ms 1450ms forwards;
        stroke-dasharray: 634;
        stroke-dashoffset: 634; }
      #load section.on h1 svg g:nth-of-type(5) {
        animation: h1svg5 linear 1500ms 1950ms forwards;
        stroke-dasharray: 1973;
        stroke-dashoffset: 1973; }
      #load section.on h1 svg g:nth-of-type(6) {
        animation: h1svg6 linear 150ms 3450ms forwards;
        stroke-dasharray: 36;
        stroke-dashoffset: 36; }
      #load section.on ul {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        #load section.on ul li button {
          position: relative;
          width: 200px;
          height: 50px;
          cursor: pointer;
          background-color: #fff;
          border: 2px solid #000;
          outline: none;
          border-radius: 10px; }
          #load section.on ul li button:hover {
            background-color: #eee; }
          #load section.on ul li button::after {
            position: absolute;
            top: -30px;
            right: -80px;
            display: block;
            width: 160px;
            height: 40px;
            background: #fffa;
            border: 2px solid #000;
            border-radius: 10px;
            transform-origin: 90% bottom;
            transform: scale(0) rotate(0);
            transition: 300ms; }
          #load section.on ul li button:hover::after {
            transform: scale(1) rotate(10deg); }
          #load section.on ul li button.start::after {
            line-height: 36px;
            content: "처음이라면 클릭하세요!"; }
          #load section.on ul li button.cheat::after {
            content: "작업물을 빠르게 확인하고 싶다면 클릭하세요"; }
    #load section.off {
      z-index: -1; }
  #load.load {
    z-index: -1;
    background: #fff0; }
    #load.load .cloud {
      opacity: 0; }
      #load.load .cloud.c1 {
        left: -225%;
        top: -225%; }
      #load.load .cloud.c2 {
        left: 225%;
        top: -225%; }
      #load.load .cloud.c3 {
        left: -225%;
        top: 225%; }
      #load.load .cloud.c4 {
        left: 225%;
        top: 225%; }

@keyframes load1Ani {
  0% {
    transform: scale(0.01); }
  30% {
    transform: scale(0.01); } }

@keyframes load2Ani {
  0% {
    transform: scale(0.02); }
  30% {
    transform: scale(0.02); } }

@keyframes load3Ani {
  0% {
    transform: scale(0.03); }
  30% {
    transform: scale(0.03); } }

@keyframes load4Ani {
  0% {
    transform: scale(0.04); }
  30% {
    transform: scale(0.04); } }

@keyframes load5Ani {
  0% {
    transform: scale(0.05); }
  30% {
    transform: scale(0.05); } }

@keyframes load6Ani {
  0% {
    transform: scale(0.06); }
  30% {
    transform: scale(0.06); } }

@keyframes load7Ani {
  0% {
    transform: scale(0.07); }
  30% {
    transform: scale(0.07); } }

@keyframes load8Ani {
  0% {
    transform: scale(0.08); }
  30% {
    transform: scale(0.08); } }

@keyframes load9Ani {
  0% {
    transform: scale(0.09); }
  30% {
    transform: scale(0.09); } }

@keyframes load10Ani {
  0% {
    transform: scale(0.1); }
  30% {
    transform: scale(0.1); } }

@keyframes load11Ani {
  0% {
    transform: scale(0.11); }
  30% {
    transform: scale(0.11); } }

@keyframes load12Ani {
  0% {
    transform: scale(0.12); }
  30% {
    transform: scale(0.12); } }

@keyframes load13Ani {
  0% {
    transform: scale(0.13); }
  30% {
    transform: scale(0.13); } }

@keyframes load14Ani {
  0% {
    transform: scale(0.14); }
  30% {
    transform: scale(0.14); } }

@keyframes load15Ani {
  0% {
    transform: scale(0.15); }
  30% {
    transform: scale(0.15); } }

@keyframes load16Ani {
  0% {
    transform: scale(0.16); }
  30% {
    transform: scale(0.16); } }

@keyframes load17Ani {
  0% {
    transform: scale(0.17); }
  30% {
    transform: scale(0.17); } }

@keyframes load18Ani {
  0% {
    transform: scale(0.18); }
  30% {
    transform: scale(0.18); } }

@keyframes load19Ani {
  0% {
    transform: scale(0.19); }
  30% {
    transform: scale(0.19); } }

@keyframes load20Ani {
  0% {
    transform: scale(0.2); }
  30% {
    transform: scale(0.2); } }

@keyframes load21Ani {
  0% {
    transform: scale(0.21); }
  30% {
    transform: scale(0.21); } }

@keyframes load22Ani {
  0% {
    transform: scale(0.22); }
  30% {
    transform: scale(0.22); } }

@keyframes load23Ani {
  0% {
    transform: scale(0.23); }
  30% {
    transform: scale(0.23); } }

@keyframes load24Ani {
  0% {
    transform: scale(0.24); }
  30% {
    transform: scale(0.24); } }

@keyframes load25Ani {
  0% {
    transform: scale(0.25); }
  30% {
    transform: scale(0.25); } }

@keyframes load26Ani {
  0% {
    transform: scale(0.26); }
  30% {
    transform: scale(0.26); } }

@keyframes load27Ani {
  0% {
    transform: scale(0.27); }
  30% {
    transform: scale(0.27); } }

@keyframes load28Ani {
  0% {
    transform: scale(0.28); }
  30% {
    transform: scale(0.28); } }

@keyframes load29Ani {
  0% {
    transform: scale(0.29); }
  30% {
    transform: scale(0.29); } }

@keyframes load30Ani {
  0% {
    transform: scale(0.3); }
  30% {
    transform: scale(0.3); } }

@keyframes load31Ani {
  0% {
    transform: scale(0.31); }
  30% {
    transform: scale(0.31); } }

@keyframes load32Ani {
  0% {
    transform: scale(0.32); }
  30% {
    transform: scale(0.32); } }

@keyframes load33Ani {
  0% {
    transform: scale(0.33); }
  30% {
    transform: scale(0.33); } }

@keyframes load34Ani {
  0% {
    transform: scale(0.34); }
  30% {
    transform: scale(0.34); } }

@keyframes load35Ani {
  0% {
    transform: scale(0.35); }
  30% {
    transform: scale(0.35); } }

@keyframes load36Ani {
  0% {
    transform: scale(0.36); }
  30% {
    transform: scale(0.36); } }

@keyframes load37Ani {
  0% {
    transform: scale(0.37); }
  30% {
    transform: scale(0.37); } }

@keyframes load38Ani {
  0% {
    transform: scale(0.38); }
  30% {
    transform: scale(0.38); } }

@keyframes load39Ani {
  0% {
    transform: scale(0.39); }
  30% {
    transform: scale(0.39); } }

@keyframes load40Ani {
  0% {
    transform: scale(0.4); }
  30% {
    transform: scale(0.4); } }

@keyframes load41Ani {
  0% {
    transform: scale(0.41); }
  30% {
    transform: scale(0.41); } }

@keyframes load42Ani {
  0% {
    transform: scale(0.42); }
  30% {
    transform: scale(0.42); } }

@keyframes load43Ani {
  0% {
    transform: scale(0.43); }
  30% {
    transform: scale(0.43); } }

@keyframes load44Ani {
  0% {
    transform: scale(0.44); }
  30% {
    transform: scale(0.44); } }

@keyframes load45Ani {
  0% {
    transform: scale(0.45); }
  30% {
    transform: scale(0.45); } }

@keyframes load46Ani {
  0% {
    transform: scale(0.46); }
  30% {
    transform: scale(0.46); } }

@keyframes load47Ani {
  0% {
    transform: scale(0.47); }
  30% {
    transform: scale(0.47); } }

@keyframes load48Ani {
  0% {
    transform: scale(0.48); }
  30% {
    transform: scale(0.48); } }

@keyframes load49Ani {
  0% {
    transform: scale(0.49); }
  30% {
    transform: scale(0.49); } }

@keyframes load50Ani {
  0% {
    transform: scale(0.5); }
  30% {
    transform: scale(0.5); } }

@keyframes load51Ani {
  0% {
    transform: scale(0.51); }
  30% {
    transform: scale(0.51); } }

@keyframes load52Ani {
  0% {
    transform: scale(0.52); }
  30% {
    transform: scale(0.52); } }

@keyframes load53Ani {
  0% {
    transform: scale(0.53); }
  30% {
    transform: scale(0.53); } }

@keyframes load54Ani {
  0% {
    transform: scale(0.54); }
  30% {
    transform: scale(0.54); } }

@keyframes load55Ani {
  0% {
    transform: scale(0.55); }
  30% {
    transform: scale(0.55); } }

@keyframes load56Ani {
  0% {
    transform: scale(0.56); }
  30% {
    transform: scale(0.56); } }

@keyframes load57Ani {
  0% {
    transform: scale(0.57); }
  30% {
    transform: scale(0.57); } }

@keyframes load58Ani {
  0% {
    transform: scale(0.58); }
  30% {
    transform: scale(0.58); } }

@keyframes load59Ani {
  0% {
    transform: scale(0.59); }
  30% {
    transform: scale(0.59); } }

@keyframes load60Ani {
  0% {
    transform: scale(0.6); }
  30% {
    transform: scale(0.6); } }

@keyframes load61Ani {
  0% {
    transform: scale(0.61); }
  30% {
    transform: scale(0.61); } }

@keyframes load62Ani {
  0% {
    transform: scale(0.62); }
  30% {
    transform: scale(0.62); } }

@keyframes load63Ani {
  0% {
    transform: scale(0.63); }
  30% {
    transform: scale(0.63); } }

@keyframes load64Ani {
  0% {
    transform: scale(0.64); }
  30% {
    transform: scale(0.64); } }

@keyframes load65Ani {
  0% {
    transform: scale(0.65); }
  30% {
    transform: scale(0.65); } }

@keyframes load66Ani {
  0% {
    transform: scale(0.66); }
  30% {
    transform: scale(0.66); } }

@keyframes load67Ani {
  0% {
    transform: scale(0.67); }
  30% {
    transform: scale(0.67); } }

@keyframes load68Ani {
  0% {
    transform: scale(0.68); }
  30% {
    transform: scale(0.68); } }

@keyframes load69Ani {
  0% {
    transform: scale(0.69); }
  30% {
    transform: scale(0.69); } }

@keyframes load70Ani {
  0% {
    transform: scale(0.7); }
  30% {
    transform: scale(0.7); } }

@keyframes load71Ani {
  0% {
    transform: scale(0.71); }
  30% {
    transform: scale(0.71); } }

@keyframes load72Ani {
  0% {
    transform: scale(0.72); }
  30% {
    transform: scale(0.72); } }

@keyframes load73Ani {
  0% {
    transform: scale(0.73); }
  30% {
    transform: scale(0.73); } }

@keyframes load74Ani {
  0% {
    transform: scale(0.74); }
  30% {
    transform: scale(0.74); } }

@keyframes load75Ani {
  0% {
    transform: scale(0.75); }
  30% {
    transform: scale(0.75); } }

@keyframes load76Ani {
  0% {
    transform: scale(0.76); }
  30% {
    transform: scale(0.76); } }

@keyframes load77Ani {
  0% {
    transform: scale(0.77); }
  30% {
    transform: scale(0.77); } }

@keyframes load78Ani {
  0% {
    transform: scale(0.78); }
  30% {
    transform: scale(0.78); } }

@keyframes load79Ani {
  0% {
    transform: scale(0.79); }
  30% {
    transform: scale(0.79); } }

@keyframes load80Ani {
  0% {
    transform: scale(0.8); }
  30% {
    transform: scale(0.8); } }

@keyframes load81Ani {
  0% {
    transform: scale(0.81); }
  30% {
    transform: scale(0.81); } }

@keyframes load82Ani {
  0% {
    transform: scale(0.82); }
  30% {
    transform: scale(0.82); } }

@keyframes load83Ani {
  0% {
    transform: scale(0.83); }
  30% {
    transform: scale(0.83); } }

@keyframes load84Ani {
  0% {
    transform: scale(0.84); }
  30% {
    transform: scale(0.84); } }

@keyframes load85Ani {
  0% {
    transform: scale(0.85); }
  30% {
    transform: scale(0.85); } }

@keyframes load86Ani {
  0% {
    transform: scale(0.86); }
  30% {
    transform: scale(0.86); } }

@keyframes load87Ani {
  0% {
    transform: scale(0.87); }
  30% {
    transform: scale(0.87); } }

@keyframes load88Ani {
  0% {
    transform: scale(0.88); }
  30% {
    transform: scale(0.88); } }

@keyframes load89Ani {
  0% {
    transform: scale(0.89); }
  30% {
    transform: scale(0.89); } }

@keyframes load90Ani {
  0% {
    transform: scale(0.9); }
  30% {
    transform: scale(0.9); } }

@keyframes load91Ani {
  0% {
    transform: scale(0.91); }
  30% {
    transform: scale(0.91); } }

@keyframes load92Ani {
  0% {
    transform: scale(0.92); }
  30% {
    transform: scale(0.92); } }

@keyframes load93Ani {
  0% {
    transform: scale(0.93); }
  30% {
    transform: scale(0.93); } }

@keyframes load94Ani {
  0% {
    transform: scale(0.94); }
  30% {
    transform: scale(0.94); } }

@keyframes load95Ani {
  0% {
    transform: scale(0.95); }
  30% {
    transform: scale(0.95); } }

@keyframes load96Ani {
  0% {
    transform: scale(0.96); }
  30% {
    transform: scale(0.96); } }

@keyframes load97Ani {
  0% {
    transform: scale(0.97); }
  30% {
    transform: scale(0.97); } }

@keyframes load98Ani {
  0% {
    transform: scale(0.98); }
  30% {
    transform: scale(0.98); } }

@keyframes load99Ani {
  0% {
    transform: scale(0.99); }
  30% {
    transform: scale(0.99); } }

body, html {
  overflow: hidden;
  width: 100%;
  height: 100%; }

body {
  position: relative; }

body > p {
  display: none; }

#field {
  position: absolute;
  left: 0;
  top: 0;
  width: 6000px;
  height: 5000px;
  transform-origin: 0 0;
  transition: 1s;
  z-index: 1;
  transform: scale(0.8); }

#mapImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 6000px;
  height: 5000px;
  z-index: 1; }

#limit_img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

#controller {
  position: fixed;
  z-index: 2;
  width: 1%;
  height: 1%;
  left: 0;
  top: 0; }
  #controller #active {
    position: absolute;
    margin: 0;
    left: 10vh;
    top: 80vh;
    width: 53px;
    height: 53px;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    margin: 65px 0 50px 30px;
    background: url(../img/active.png) 50% 50%/cover no-repeat; }
    #controller #active.btnOn {
      background-image: url(../img/active-on.png); }
  #controller .touch {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
    #controller .touch span {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      margin: -10px 0 0 -10px;
      border-radius: 50%; }
    #controller .touch.on {
      background-color: #5557; }
      #controller .touch.on span {
        background-color: #3337; }
