@charset "utf-8";

//load 관련 스타일입니다
#beforeLoad{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: z-index 0s 3s;
    background: #ffff;
    .cloud{ //구름 장막
        max-width: unset;
        max-height: 150%;
        display: block;
        position: absolute;
        transition: all 3s linear, opacity 2s 500ms linear;
        &.c1{
            left: -23%;
            top: -23%;
        }
        &.c2{
            left: 23%;
            top: -23%;
        }
        &.c3{
            left: -23%;
            top: 23%;
        }
        &.c4{
            left: 23%;
            top: 23%;
        }
        
    }
    span{ // 로딩 중 표시
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -17.5px 0 0 -50px;
        width: 100px;
        height: 70px;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        color: #707070;
        transition: opacity 1s 500ms linear;
        svg{
            width: 32px;
            height: 32px;
            circle{
                stroke-dasharray: 35 55;
                stroke-dashoffset: 0;
                animation: circleAni 1500ms linear infinite;
                @keyframes circleAni {
                    0%{stroke-dashoffset: 90;}
                    100%{stroke-dashoffset: 0;}
                }
            }
        }
    }
    &.load{ // 로딩 완료
        z-index: -1;
        background: #fff0;
        .cloud{
            opacity: 0;
            &.c1{
                left: -225%;
                top: -225%;
            }
            &.c2{
                left: 225%;
                top: -225%;
            }
            &.c3{
                left: -225%;
                top: 225%;
            }
            &.c4{
                left: 225%;
                top: 225%;
            }
        }
        span{opacity: 0;}
    }
}

@for $i from 1 to 100{
    @keyframes load#{$i}Ani{
        0%{transform: scale(#{$i / 100});}
        30%{transform: scale(#{$i / 100});}
    }
}