@charset "utf-8";
@import url(./reset.css);
@import 'character.scss';
@import 'object.scss';
@import 'load.scss';

// 기본 맵 스타일 및 컨트롤러 스타일입니다
$fieldW: 6000px;
$fieldH: 5000px;
@mixin posA($x : 0,$y : 0) {
    position: absolute;
    left: $x;
    top: $y;
}
body, html{overflow: hidden; width: 100%; height: 100%; }
body{position: relative;}
h1{display: none;}
#field{
    @include posA; 
    width: $fieldW;
    height: $fieldH;
    transform-origin: left top;
    z-index: 1;
}
#mapImg{
    @include posA; 
    width: $fieldW;
    height: $fieldH;
    z-index: 1;
}
#limit_img{
    @include posA; 
    z-index: -1;
}
#controller{
    position: fixed; 
    z-index: 2;
    width: 100%; 
    bottom: 0;
    button{
        width: 53px; 
        height: 53px; 
        border: none; 
        outline: none; 
        cursor: pointer; 
        background: url(../img/Arrow.png) 50% 50% / cover no-repeat; font-size: 0; 
        text-indent: -999px; 
        overflow: hidden;
        &#active{
            float: right; 
            margin: 65px 0 50px 30px;
            background: url(../img/active.png) 50% 50% / cover no-repeat;
            &.btnOn{
                background-image: url(../img/active-on.png);
            }
        }
        &.btnOn{
            background-image: url(../img/Arrow-on.png);
        }
    }
    >div{
        float: right; 
        position: relative; 
        width: 150px; 
        height: 150px; 
        margin: 10px; 
        button{
            position: absolute;
            &#ArrowUp{left: 50px; top: 10px; transform: rotateZ(45deg);}
            &#ArrowRight{left: 90px; top: 50px; transform: rotateZ(135deg);}
            &#ArrowLeft{left: 10px; top: 50px; transform: rotateZ(315deg);}
            &#ArrowDown{left: 50px; top: 90px; transform: rotateZ(225deg);}
        }
    }
}
.mob{
    #controller{
        &>button{
            float: left;
        }
        &>div{
            display: none;
        }
    }
}