@charset "utf-8";
@mixin charDefualt { // 캐릭터 기본설정
    width: 140px;
    height: 200px;
    background: url(./img/character/front1.png) 50% 50% / cover no-repeat;
}
@mixin startPoint($x,$y) { // 스타트 포인트
    position: absolute;
    left: #{$x}px;
    top: #{$y}px;
}
@mixin charAni($dir){ // 움직임 설정
    @keyframes #{$dir}Ani {
        0%{background-image: url(./img/character/#{$dir}1.png);}
        25%{background-image: url(./img/character/#{$dir}2.png);}
        50%{background-image: url(./img/character/#{$dir}1.png);}
        75%{background-image: url(./img/character/#{$dir}3.png);}
        100%{background-image: url(./img/character/#{$dir}1.png);}
    }
    animation: #{$dir}Ani 1500ms 0s infinite linear;
}
@mixin lastDir($dir) { // 이동 멈춤 시 모습
    background-image: url(./img/character/#{$dir}1.png);
}
#char{
    @include charDefualt;
    @include startPoint(725,900);
    &._1,&._5,&._6{
        @include charAni(back);
    }
    &._3,&._7,&._8{
        @include charAni(front);
    }
    &._2{
        @include charAni(left);
    }
    &._4{
        @include charAni(right);
    }
    &.__1,&.__5,&.__6{
        @include lastDir(back);
    }
    &.__3,&.__7,&.__8{
        @include lastDir(front);
    }
    &.__2{
        @include lastDir(left);
    }
    &.__4{
        @include lastDir(right);
    }
}