*{margin: 0; padding: 0;}
body, html{overflow: hidden; width: 100%; height: 100%; }
body{position: relative;}
#field{position: absolute; left: 0; top: 0; width: 1500px; height: 1500px; background: #ccc;}
#bg{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
#bg>section{position: absolute; width: 300px; height: 300px; background-color: #fdd; box-sizing: border-box;}
#bg>section:nth-child(1){left: 200px; top: 0px;}
#bg>section:nth-child(2){left: 0; top: 500px;}
#bg>section:nth-child(3){left: 600px; top: 600px;}
#bg>section:nth-child(4){left: 400px; top: 400px; width: 100px; height: 100px; background-color: #ddf;}
#dot{position: absolute; left: 50px; top: 50px; width: 50px; height: 50px; background: url(./img/right.png) 0 0 / cover no-repeat;}
#dot.ArrowLeft{background-image: url(./img/left.png);}
#dot.ArrowRight{background-image: url(./img/right.png);}
#dot.ArrowUp{background-image: url(./img/up.png);}
#dot.ArrowDown{background-image: url(./img/down.png);}
#dot.func{background: transparent;}
#controller{position: fixed; width: 100%; bottom: 0;}
#controller>button{float: left; margin: 65px 30px 0;}
#controller>div{float: right; position: relative; width: 150px; height: 150px; margin: 10px;}
#controller>div>button{position: absolute;}
#controller>div>button.ArrowUp{left: 50px;}
#controller>div>button.ArrowRight{left: 100px; top: 50px;}
#controller>div>button.ArrowLeft{top: 50px;}
#controller>div>button.ArrowDown{left: 50px; top: 100px;}
#controller button{width: 50px; height: 50px; border: none; outline: none; cursor: pointer; background: url(./img/active.png) 50% 50% / cover no-repeat; font-size: 0; text-indent: -999px; overflow: hidden;}
#controller button.ArrowUp{background-image: url(./img/ArrowUp.png);}
#controller button.ArrowRight{background-image: url(./img/ArrowRight.png);}
#controller button.ArrowLeft{background-image: url(./img/ArrowLeft.png);}
#controller button.ArrowDown{background-image: url(./img/ArrowDown.png);}
#controller button.on.active{background-image: url(./img/active-on.png);}
#controller button.on.ArrowUp{background-image: url(./img/ArrowUp-on.png);}
#controller button.on.ArrowRight{background-image: url(./img/ArrowRight-on.png);}
#controller button.on.ArrowLeft{background-image: url(./img/ArrowLeft-on.png);}
#controller button.on.ArrowDown{background-image: url(./img/ArrowDown-on.png);}