*{margin: 0; padding: 0;}
body, html{overflow: hidden; width: 100%; height: 100%; }
body{position: relative;}
#field{position: absolute; left: 0; top: 0; width: 6000px; height: 5000px; background: url(./img/map.png) 0 0 no-repeat;}
#bg{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
#limit_img{position: absolute; z-index: -1;}
#dot{position: absolute; left: 725px; top: 900px; width: 150px; height: 200px; background: url(./img/char.png) 0 0 / cover no-repeat;}
#dot._1,#dot._5,#dot._6{background-image: url(./img/char.png);}
#dot._2{background-image: url(./img/char.png);}
#dot._3,#dot._7,#dot._8{background-image: url(./img/char.png);}
#dot._4{background-image: url(./img/char.png);}
#dot.func{background: transparent;}
#controller{position: fixed; width: 100%; bottom: 0;}
#controller>button{float: right; margin: 65px 0 50px 30px;}
.mob #controller>button{float: left;}
#controller>div{float: right; position: relative; width: 150px; height: 150px; margin: 10px; }
.mob #controller>div{display: none;}
#controller>div>button{position: absolute;}
#ArrowUp{left: 50px; top: 10px; transform: rotateZ(45deg);}
#ArrowRight{left: 90px; top: 50px; transform: rotateZ(135deg);}
#ArrowLeft{left: 10px; top: 50px; transform: rotateZ(315deg);}
#ArrowDown{left: 50px; top: 90px; transform: rotateZ(225deg);}
#controller button{width: 53px; height: 53px; border: none; outline: none; cursor: pointer; background: url(./img/Arrow.png) 50% 50% / cover no-repeat; font-size: 0; text-indent: -999px; overflow: hidden;}
#controller #active{background: url(./img/active.png) 50% 50% / cover no-repeat;}
#active.btnOn{background-image: url(./img/active-on.png);}
#controller button.btnOn{background-image: url(./img/Arrow-on.png);}